button {
    width: 120px;
    height: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;    
    display: flex;
    align-items:center;
    justify-content: center;

}
.buttun-black {
    box-sizing: border-box;
    border-radius: 8px;
    background:#0C0B0B;
    color: #fff;
}
.buttun-white {
    border: 2px solid #0C0B0B;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    color: #0C0B0B;
}