.course-item {
    display: grid;
    gap: 3px;
    align-items: center;
    grid-template-columns: [startimg] 80px [startdescr] 1fr [starttime] 90px [startrating] 70px [startbutton] 140px [endbutton];
    width: 100%;
    height: 80px;
    background: #F5F5F7;
    border-radius: 14px;
    //margin-bottom: 16px;
    &__img{
        grid-column-start: startimg;
        grid-column-end: startdescr;
        justify-self: center;
        //margin: 0 25px;
        //flex: 0 0 40px;
        img {
            //width: 32px;
            height: 32px;
        }
    }
    &__description{
        grid-column-start: startdescr;
        grid-column-end: starttime;
        //flex: 1 1 auto;
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #0C0B0B;
        }
    }
    &__title{}
    &__progress {
        grid-column-start: startrating;
        grid-column-end: startbutton;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 15px;
        color: #0C0B0B;
    }
    &__button-user {
        //flex: 0 0 120px;
        //margin: 0 20px;
    }
    &__time{
        grid-column-start: starttime;
        grid-column-end: startrating;
        //margin: 0 10px;
        display: flex;
        align-items: center;
        span {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #0C0B0B;
        }
        i{
            font-size: 26px;
            margin: 0 10px;
        }
        /**/
    }
    &__rating{
        grid-column-start: startrating;
        grid-column-end: startbutton;
        display: flex;
        align-items: center;
        i {
            font-size: 26px;
            margin: 0 10px;
        }
        span {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #0C0B0B;
        }
    }
    &__button{
        //justify-self: center;
        grid-column-start: startbutton;
        grid-column-end: endbutton;
        //flex: 0 0 120px;
        //margin: 0 30px;
    }
}